<div class="container">
  <div class="row pos">
    <app-progress-bar
      [size]="'STEPSIZE.STEP_13' | translate"
      [title]="'STEPS.STEP_14' | translate"
    ></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="text-center">{{ "FROM_1.TITLE" | translate }}</h3>
</div>

<div class="container">
  <main class="pos-card">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8 offset-md-3">
        <form
          class="needs-validation"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row g-3 form-top">
            <div class="col-sm-6 form-input-size m-0">
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                formControlName="firstName"
                [placeholder]="'FROM_1.ITEM_1' | translate"
                value=""
                required
              />
              <div class="invalid-feedback">Valid first name is required.</div>
            </div>

            <div class="col-sm-6 m-0">
              <input
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                formControlName="lastName"
                [placeholder]="'FROM_1.ITEM_2' | translate"
                required
              />
              <div class="invalid-feedback">Valid last name is required.</div>
            </div>

            <div class="col-sm-6 form-input-size form-input-top m-0">
              <input
                type="text"
                class="form-control"
                id="company"
                name="company"
                formControlName="company"
                [placeholder]="'FROM_1.ITEM_3' | translate"
                required
              />
              <div class="invalid-feedback">Valid first name is required.</div>
            </div>

            <div class="col-sm-6 form-input-top m-0">
              <div class="form-button shadow" [routerLink]="'/infos-cabinet'">
                <b>{{ "FROM_1.ITEM_4" | translate }}</b>
              </div>
            </div>

            <div class="col-12 form-input-top m-0">
              <input
                type="text"
                class="form-control form-control-large"
                id="country"
                name="country"
                formControlName="country"
                [placeholder]="'FROM_1.ITEM_5' | translate"
              />
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12 form-input-top m-0">
              <input
                type="text"
                class="form-control form-control-large"
                id="role"
                name="role"
                formControlName="role"
                [placeholder]="'FROM_1.ITEM_6' | translate"
              />
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12 form-input-top m-0">
              <input
                type="email"
                class="form-control form-control-large"
                id="email"
                name="email"
                formControlName="email"
                [placeholder]="'FROM_1.ITEM_7' | translate"
                required
              />
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>

          <div class="form-check form-input-top m-0">
            <input type="checkbox" class="form-check-input" id="same-address" />
            <label class="form-check-label" for="same-address"
              >{{ "FROM_1.ITEM_8" | translate }}
              <a href="#">{{ "FROM_1.ITEM_9" | translate }}</a>
            </label>
          </div>

          <div class="row pos-buttons">
            <div class="col-md-6">
              <button
                class="btn btn-outline-secondary btn-back me-md-2"
                type="button"
                [routerLink]="'/coefficients-client'"
              >
                <!--  <i class="bi bi-chevron-left"></i> -->
                <i class="retour"></i>
                {{ "FOOTER_BUTTONS_FORMS.BUTTON_1" | translate }}
              </button>
              <button
                class="btn btn-outline-secondary btn-reset"
                type="button"
                [routerLink]="'/'"
              >
                <!--  <i class="bi bi-arrow-counterclockwise"></i> -->
                <i class="reset"></i>
                {{ "FOOTER_BUTTONS_FORMS.BUTTON_2" | translate }}
              </button>
            </div>
            <div class="col-md-6 ms-auto text-end">
              <button class="btn btn-primary me-md-2 btn-next" type="submit">
                {{ "FOOTER_BUTTONS_FORMS.BUTTON_3" | translate }}
                <!--  <i class="bi bi-arrow-right"></i> -->
                <i class="suivant"></i>
              </button>
              <!--  [routerLink]="'/resultat-client'" -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
