<div class="container">
  <div class="row pos">
    <app-progress-bar
      [size]="'STEPSIZE.STEP_4' | translate"
      [title]="'STEPS.STEP_4' | translate"
    ></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">{{ "USERS_NUMBERS.TITLE" | translate }}</h3>

  <div class="pos-item">
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_1' | translate"
        [clientCompanySize]="'A'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_2' | translate"
        [clientCompanySize]="'B'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_3' | translate"
        [clientCompanySize]="'C'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
  </div>

  <div class="pos-card">
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_4' | translate"
        [clientCompanySize]="'D'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_5' | translate"
        [clientCompanySize]="'E'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
    <div>
      <app-item-button
        [title]="'USERS_NUMBERS.ITEM_6' | translate"
        [clientCompanySize]="'F'"
        (sendClienCompanySizeEvent)="pushClientCompanySize($event)"
      ></app-item-button>
    </div>
  </div>

  <app-item-button-steps
    [next]="'/deploiment-client'"
    [solution]="solutionModel"
    [isEmpty]="isEmpty"
  ></app-item-button-steps>
</div>
