.badge-score {
  background-color: #d3e2f7;
  color: #0033ff;
}

.badge-grey {
  width: 4.375rem;
  height: 1.875rem;
  font-family: Roboto;
  font-size: 1.125rem;
}

.item {
  font-family: Roboto;
  font-size: 1.125rem;
}

.no-border {
  border: none;
}
