<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">
    {{ "RAISONS.TITLE" | translate }}
  </h3>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 pos-card"
  >
    <secteur-item
      [title]="'RAISONS.ITEM_1' | translate"
      [image]="'assets/icons/solution_obsolete.png'"
    ></secteur-item>
    <secteur-item
      [title]="'RAISONS.ITEM_2' | translate"
      [image]="'assets/icons/features_missing.png'"
    ></secteur-item>
    <secteur-item
      [title]="'RAISONS.ITEM_3' | translate"
      [image]="'assets/icons/first_deployment.png'"
    ></secteur-item>
    <secteur-item
      [title]="'RAISONS.ITEM_4' | translate"
      [image]="'assets/icons/insatisfaction.png'"
    ></secteur-item>
    <secteur-item
      [title]="'RAISONS.ITEM_5' | translate"
      [image]="'assets/icons/old.png'"
    ></secteur-item>
    <secteur-item
      [title]="'RAISONS.ITEM_6' | translate"
      [image]="'assets/icons/other.png'"
    ></secteur-item>
  </div>
</div>

<app-item-button-steps [next]="'/coefficients-client'"></app-item-button-steps>
