.card-secteur {
    width: 274px;
    height: 73px;
    border-radius: 20px;
    background-color: var(--card);
}

.no-border {
    border: none;
}

.card-title {
    font-family: Roboto;
    font-size: 1.125rem;
}

.btn-pos {
  width: 274px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background: var(--card) url(../../../assets/icons/icon-actif.png) no-repeat 0px 0px;
    background-position: top 20px  right 25px;
    
}
