.card-secteur {
    width: 274px;
    height: 73px;
    border-radius: 20px;
    background-color: var(--card);
}

.no-border {
    border: none;
}

.card-title {
    font-family: Roboto;
    font-size: 1.125rem;
}

.btn-pos {
  width: 274px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
