<div class="container">
  <div class="row pos">
    <app-progress-bar [size]="'STEPSIZE.STEP_10' | translate" [title]="'STEPS.STEP_10' | translate"></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">
    {{ 'CONNEXION.TITLE' | translate }}
  </h3>
  <ng-container *ngIf="responsive.deviceType === 'Handset'; then mobile; else web"></ng-container>
  <ng-template #web>
    <div class="pos-card">
      <div>
        <app-item-button
          id="Y"
          [title]="'CONNEXION.ITEM_1' | translate"
          [connexion]="true"
          (sendClientConnexionEvent)="pushClientConnexion($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="N"
          [title]="'CONNEXION.ITEM_2' | translate"
          [connexion]="false"
          (sendClientConnexionEvent)="pushClientConnexion($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
    </div>
  </ng-template>
  <ng-template #mobile>
    <div class="pos-card-mobile">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="Y"
            [title]="'CONNEXION.ITEM_1' | translate"
            [connexion]="true"
            (sendClientConnexionEvent)="pushClientConnexion($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="N"
            [title]="'CONNEXION.ITEM_2' | translate"
            [connexion]="false"
            (sendClientConnexionEvent)="pushClientConnexion($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>
  </ng-template>
  <app-item-button-steps
    [next]="'crm/deadline-client'"
    [solution]="solutionModel"
    [isEmpty]="isEmpty"
  ></app-item-button-steps>
</div>
