<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">
    {{ "TYPE_CLIENT.TITLE" | translate }}
  </h3>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 pos-card"
  >
    <app-item-button
      [title]="'TYPE_CLIENT.ITEM_1' | translate"
    ></app-item-button>
    <app-item-button
      [title]="'TYPE_CLIENT.ITEM_1' | translate"
    ></app-item-button>
    <app-item-button
      [title]="'TYPE_CLIENT.ITEM_1' | translate"
    ></app-item-button>
  </div>
</div>

<app-item-button-steps [next]="'/revenue-client'"></app-item-button-steps>
