<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">Combien d’utilisateurs prévoyez-vous ?</h3>

  <div class="row justify-content-center pos-item">
    <div class="col-4">
      <app-item-button [title]="'1 à 25'"></app-item-button>
    </div>
    <div class="col-4">
      <app-item-button [title]="'25 à 75'"></app-item-button>
    </div>
    <div class="col-4">
      <app-item-button [title]="'75 à 200'"></app-item-button>
    </div>
  </div>

  <div class="row justify-content-center pos-card">
    <div class="col-4">
      <app-item-button [title]="'200 à 700'"></app-item-button>
    </div>
    <div class="col-4">
      <app-item-button [title]="'700 à 2000'"></app-item-button>
    </div>
    <div class="col-4">
      <app-item-button [title]="'Plus de 2000'"></app-item-button>
    </div>
  </div>
</div>

<app-item-button-steps [next]="'/revenue-client'"></app-item-button-steps>
