<div class="container">
  <div class="row pos">
    <app-progress-bar [size]="'STEPSIZE.STEP_5' | translate" [title]="'STEPS.STEP_5' | translate"></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">
    {{ 'DEPLOYMENT.TITLE' | translate }}
  </h3>

  <ng-container *ngIf="responsive.deviceType === 'Handset'; then mobile; else web"></ng-container>
  <ng-template #web>
    <div class="pos-card">
      <div>
        <app-item-button
          id="N"
          [title]="'DEPLOYMENT.ITEM_1' | translate"
          (sendClientDeploymentEvent)="pushClientinternationnalBusiness($event)"
          [clientDeployment]="'N'"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="I"
          [title]="'DEPLOYMENT.ITEM_2' | translate"
          [clientDeployment]="'I'"
          (sendClientDeploymentEvent)="pushClientinternationnalBusiness($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div></div
  ></ng-template>
  <ng-template #mobile>
    <div class="pos-card">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="N"
            [title]="'DEPLOYMENT.ITEM_1' | translate"
            (sendClientDeploymentEvent)="pushClientinternationnalBusiness($event)"
            [clientDeployment]="'N'"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="I"
            [title]="'DEPLOYMENT.ITEM_2' | translate"
            [clientDeployment]="'I'"
            (sendClientDeploymentEvent)="pushClientinternationnalBusiness($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>
  </ng-template>
  <app-item-button-steps
    [next]="'erp/fonctions-client'"
    [solution]="solutionModel"
    [isEmpty]="isEmpty"
  ></app-item-button-steps>
</div>
