<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="text-center">Définissez vos coefficients</h3>
  <div class="text-center pos-sub-title">
    <span
      >Définissez des coefficients (de 1 à 3) en fonction de ce qui est
      important pour vous.</span
    >
  </div>

  <div class="container">
    <div class="row justify-content-center pos-card">
      <div class="col-7 col-offset-5">
        <app-item-coefficient [title]="'Logiciel'" [icon]="'assets/icons/application.png'" ></app-item-coefficient>
      </div>
      <div class="col-7 col-offset-5">
        <app-item-coefficient [title]="'Prix'" [icon]="'assets/icons/tarifs.png'" ></app-item-coefficient>
      </div>
      <div class="col-7 col-offset-5">
        <app-item-coefficient [title]="'Éditeur'" [icon]="'assets/icons/editeur.png'" ></app-item-coefficient>
      </div>
      <div class="col-7 col-offset-5">
        <app-item-coefficient [title]="'Compatibilité'" [icon]="'assets/icons/compta.png'" ></app-item-coefficient>
      </div>
      <div class="col-7 col-offset-5">
        <app-item-coefficient [title]="'Positionnement'" [icon]="'assets/icons/positionnement.png'" ></app-item-coefficient>
      </div>
    </div>
  </div>
</div>

<app-item-button-steps [next]="'/infos-client'"></app-item-button-steps>
