<div class="container">
  <div class="row pos">
    <app-progress-bar
      [size]="'STEPSIZE.STEP_3' | translate"
      [title]="'STEPS.STEP_3' | translate"
    ></app-progress-bar>
  </div>
</div>
<div class="container">
  <h3 class="pos-title text-center">
    {{ "INCOME.TITLE" | translate }}
  </h3>

  <ng-container
    *ngIf="responsive.deviceType === 'Handset'; then mobile; else web"
  ></ng-container>
  <ng-template #web>
    <div class="pos-item">
      <div>
        <app-item-button
          id="A"
          [title]="'INCOME.ITEM_1' | translate"
          [companySize]="'A'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="B"
          [title]="'INCOME.ITEM_2' | translate"
          [companySize]="'B'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="C"
          [title]="'INCOME.ITEM_3' | translate"
          [companySize]="'C'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
    </div>

    <div class="pos-card">
      <div>
        <app-item-button
          id="D"
          [title]="'INCOME.ITEM_4' | translate"
          [companySize]="'D'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="E"
          [title]="'INCOME.ITEM_5' | translate"
          [companySize]="'E'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="F"
          [title]="'INCOME.ITEM_6' | translate"
          [companySize]="'F'"
          (sendClientRevenuesEvent)="pushClientRevenues($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
    </div>
  </ng-template>
  <ng-template #mobile>
    <div class="pos-item-mobile">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="A"
            [title]="'INCOME.ITEM_1' | translate"
            [companySize]="'A'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="B"
            [title]="'INCOME.ITEM_2' | translate"
            [companySize]="'B'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="C"
            [title]="'INCOME.ITEM_3' | translate"
            [companySize]="'C'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>

    <div class="pos-card-mobile">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="D"
            [title]="'INCOME.ITEM_4' | translate"
            [companySize]="'D'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="E"
            [title]="'INCOME.ITEM_5' | translate"
            [companySize]="'E'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="F"
            [title]="'INCOME.ITEM_6' | translate"
            [companySize]="'F'"
            (sendClientRevenuesEvent)="pushClientRevenues($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<app-item-button-steps
  [next]="'/users-client'"
  [solution]="solutionModel"
  [isEmpty]="isEmpty"
></app-item-button-steps>
