      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm color-grey no-border">
          <div class="card-body">
            <img src="assets/vendors/microsoft.png" alt="" class="img-card" />
            <h5 class="card-title pricing-card-title pos-pb m-0">
              Miscrosoft Dynamics 365
            </h5>
            <h4 class="card-score pos-pb">
              <span class="badge badge-card">8.5</span>
            </h4>
            <ul class="list-group mt-3 mb-4">
              <li class="list-group-item d-flex align-items-center no-border pos-score-item">
                <span class="badge badge-score item pos">8.5</span
                ><span class="item">10 users included</span>
              </li>
              <li class="list-group-item d-flex align-items-center no-border pos-score-item">
                <span class="badge badge-score item pos">8.5</span>
                <span class="item">2 GB of storage</span>
              </li>
              <li class="list-group-item d-flex align-items-center no-border
              pos-score-item">
                <span class="badge badge-score item pos">8.5</span>
                <span class="item">Email support</span>
              </li>
              <li class="list-group-item d-flex align-items-center no-border pos-score-item">
                <span class="badge badge-score item pos">8.5</span>
                <span class="item">Help center access</span>
              </li>
            </ul>
            <button type="button" class="btn btn-card">Know more</button>
          </div>
        </div>
      </div>

