.color-grey {
 background-color: var(--card);
}

.color-blue {
    color: var(--secondaryColor);
}

.badge-score {
    background-color: var(--score);
    color: var(--textOnScore);

}

.btn-card {
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 1.25rem ;
    height: 60px;
}

.badge-card {
    background-color:var(--primaryColor);
    color: var(--textScoreColor);
}

.img-card {
    width: 100px;
}

.no-border {
    border: none;
}

.list-group-item {
    background-color: transparent;
}

.card-title {
    font-family: Poppins;
    font-size: 1.563rem;
}

.card-score {
    font-family: Roboto;
    font-size: 1.563rem;
}

.item {
    font-family: Roboto;
    font-size: 1.125rem;

}

.pos {
    margin-right: 20px;
}

.pos-pb {
  padding-bottom: 35px !important;
}

.pos-pt {
  padding-top: 35px !important;
}

.pos-score-item {
  padding-left: 32px;
  padding-bottom: 25px;
}

.card{
    border-radius: 20px !important;
}

.card-size {
    width: 25rem;
}

.badge-score {
    width: 6.563rem;
    height: 2.813rem;
    font-family: Roboto;
    font-size: 1.563rem ;
}

.badge-grey {
    width: 4.375rem;
    height: 1.875rem;
    font-family: Roboto;
    font-size:1.125rem ;
}

