.color-grey {
 background-color: var(--card);
}

.color-blue {
    color: var(--secondaryColor);
}

.badge-score {
    background-color: #E8ECFF;
    color:#000000;

}

.btn-card {
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 1.25rem ;
    height: 60px;
}

.badge-card {
    background-color: #B7EDAC;
    color: #003329;
}

.img-card {
    width: 125px;
    padding-top: 49px;
    padding-bottom: 25px;
}

.no-border {
    border: none;
}

.list-group-item {
    background-color: transparent;
}

.card-title {
    font-family: Roboto;
    font-size: 1.688rem;
}

.card-score {
    font-family: Roboto;
    font-size: 18px;
}

.item {
    font-family: Roboto;
    font-size: 18px;

}

.pos {
    margin-right: 20px;
}

.pos-pb {
  padding-bottom: 30px !important;
}

.pos-pt {
  padding-top: 35px !important;
}

.pos-score-item {
  padding-left: 86px;
  padding-bottom: 25px;
}

.card{
    border-radius: 20px !important;
}

.badge-score {
    width: 105px;
    height: 45px;
    font-family: Roboto;
    font-size: 25px ;
}

.badge-grey {
    width: 4.375rem;
    height: 1.875rem;
    font-family: Roboto;
    font-size:1.125rem ;
}

.pb-40 {
    padding-bottom: 40px;
}

