.color-grey {
 background-color: var(--card);
}

.color-blue {
    color: var(--secondaryColor);
}

.btn-card {
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 1.5rem;
}

.badge-card {
    background-color:var(--primaryColor);
    color: var(--textScoreColor);
}

.img-card {
    width: 100px;
}

.no-border {
    border: none;
}