<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm color-grey no-border card-size">
    <div class="card-body">
      <img src="assets/vendors/microsoft.png" alt="" class="img-card" />
      <h5 class="card-title pricing-card-title pos-pb m-0">
        Miscrosoft Dynamics 365
      </h5>
      <div class="card-score pos-pb">
        <div class="badge badge-card badge-score">8.5</div>
      </div>
      <ul class="list-group mt-3 mb-4">
        <li
          class="list-group-item d-flex align-items-center no-border pos-score-item"
        >
          <span class="badge badge-score badge-grey item pos">8.5</span
          ><span class="item">10 users included</span>
        </li>
        <li
          class="list-group-item d-flex align-items-center no-border pos-score-item"
        >
          <span class="badge badge-score badge-grey item pos">8.5</span>
          <span class="item">2 GB of storage</span>
        </li>
        <li
          class="list-group-item d-flex align-items-center no-border pos-score-item"
        >
          <span class="badge badge-score badge-grey item pos">8.5</span>
          <span class="item">Email support</span>
        </li>
        <li
          class="list-group-item d-flex align-items-center no-border pos-score-item"
        >
          <div class="badge badge-score badge-grey item pos">8.5</div>
          <span class="item">Help center access</span>
        </li>
        <li
          class="list-group-item d-flex align-items-center no-border pos-score-item"
        >
          <div class="badge badge-score badge-grey item pos">8.5</div>
          <span class="item">Help center access</span>
        </li>
      </ul>
      <div class="d-grid gap-2 col-10 mx-auto pb-40">
        <button class="btn btn-card" type="button">site web</button>
      </div>
    </div>
  </div>
</div>
