.img {
    width: 55px;
}

.card-secteur {
    width: 389px;
    height: 144px;
    border-radius: 35px;
    background-color: var(--card);
    cursor: pointer;
}

.card-secteur:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.10)!important;
}

.active {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.10)!important;
    background: var(--card) url(../../assets/icons/icon-actif.png) no-repeat 0px 0px;
    background-position: top 25px  right 25px;
    
}

.no-border {
    border: none;
}

.card-title {
    font-family: Roboto;
    font-size: 1.125rem;   
}

.pos-title {
    padding-top: 23px;
}

