.img {
    width: 55px;
}

.card-secteur {
    width: 389px;
    height: 144px;
    border-radius: 35px;
    background-color: var(--card);
}

.no-border {
    border: none;
}

.card-title {
    font-family: Roboto;
    font-size: 1.125rem;   
}

.pos-title {
    padding-top: 23px;
}

