.img {
  width: 40px;
  margin-right: 40px;
}

.card-secteur {
  width: 360px;
  height: 75px;
  border-radius: 25px;
  background-color: var(--card);
  cursor: pointer;
}

.card-secteur:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
  background: var(--card) url(../../assets/icons/icon-actif.png) no-repeat 0px
    0px;
  background-position: top 20px right 25px;
  background-size: 20px;
}

.no-border {
  border: none;
}

.card-title {
  font-family: Roboto;
  font-size: 1.188rem;
}

.pos-title {
  /* padding-top: 23px; */
}

.card-body {
  display: flex;
  align-items: center;
  padding-left: 45px;
}
