.color-default {
    background-color: #066fef;
    border-radius: 0.375rem;
}

.progress {
    --bs-progress-bg: #E8ECFF;
    height: 0.625rem;
    width: 57.375rem; 
}

@media only screen and (max-width : 768px) {
    /* Styles pour cette Media Queries */
    .progress {
       
        width:22.8rem; 
    }
    }