.color-default {
    background-color: var(--primaryColor);
}

.progress {
    --bs-progress-bg:  #4A505B;
    height: 0.625rem;
    width: 57.375rem; 
}

@media only screen and (max-width : 768px) {
    /* Styles pour cette Media Queries */
    .progress {
       
        width:22.8rem; 
    }
    }