.pos {
  margin-top: 50px;
}

.pos-buttons {
  padding-top: 78px;
}

.pos-card {
  padding-bottom: 78px;
}

.form-control {
  width: 18.75rem;
  height: 4.375rem;
  border-radius: 1.188rem;
  color: var(--borderButton);
  border: 1px solid var(--borderButton);
  font-family: Roboto;
  font-size: 1.125rem;
  padding-left: 27px;
}

.form-button {
  width: 18.75rem;
  height: 4.375rem;
  border-radius: 1.188rem;
  color: #000;
  border: 1px solid var(--card);
  font-family: Roboto;
  font-size: 1rem;
  background-color: var(--card);
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 2px;
}

.form-control-large {
  width: 41.25rem;
}

.form-input-size {
  width: 22.5rem;
}

.form-top {
  padding-top: 64px;
}

.form-input-top {
  padding-top: 35px;
}

.form-input-bottom {
  padding-bottom: 35px;
}

.pos {
  padding-bottom: 75px;
}

.btn-next {
  background-color: #0033ff;
  color: #fff;
  font-family: Roboto;
  font-size: 1.313rem;
  width: 151px;
  height: 69px;
  border-radius: 21px;
  border: none;
}

.btn-back {
  background-color: #7c91f1;
  width: 88px;
  height: 69px;
  border-radius: 17px;
  border: 2px #fff solid;
}

.retour {
  background-image: url(../../assets/icons/retour.png);
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: sub;
}

.btn-reset {
  background-color: #5d70c9;
  width: 88px;
  height: 69px;
  border-radius: 17px;
  border: 2px #fff solid;
}

.pos {
  padding-bottom: 75px;
}

.suivant {
  background-image: url(../../assets/icons/ok.png);
  background-size: cover;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: sub;
  margin-left: 15px;
}

.reset {
  background-image: url(../../assets/icons/recommencer.png);
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: sub;
}

.logo {
  width: 115px;
}

.required:after {
  content: " *";
  color: red;
}
