icon-shape {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.icon-sm-down {
  width: 1.563rem;
}

.icon-sm-up {
  width: 1.563rem;
}

.img-coefficient {
  width: 35px;
  height: 35px;
}

.text-coefficient {
  font-family: Roboto;
  font-size: 1.125rem;
}

.value-coefficient {
  font-family: Roboto;
  font-size: 1.563rem;
}

.card-coefficient {
  width: 385px;
  height: 75px;
  background-color: var(--card);
  align-items: center;
  border-radius: 20px;
}

.color-input {
  background-color: transparent;
}

.img-pos {
  margin-left: 28px;
  margin-right: 24px;
}

.icon-pos {
  margin-right: 32px;
}

.up {
  background: url(../../assets/icons/caret-up-fill.svg) no-repeat;
  background-size: 16px;
  display: inline-block;
  vertical-align: sub;
  background-color: #e7f5e4;
  background-position: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.down {
  background: url(../../assets/icons/caret-down-fill.svg) no-repeat;
  background-size: 16px;
  display: inline-block;
  vertical-align: sub;
  background-color: #fcaeb2;
  background-position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
