<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">Périmètre fonctionnel souhaité</h3>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 pos-card"
  >
    <secteur-item
      [title]="'CRM'"
      [image]="'assets/icons/crm.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Finance et comptabilité'"
      [image]="'assets/icons/comptabilite.png'"
    ></secteur-item>
    <secteur-item [title]="'RH'" [image]="'assets/icons/rh.png'"></secteur-item>
    <secteur-item
      [title]="'Achats'"
      [image]="'assets/icons/achats.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Production'"
      [image]="'assets/icons/production.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Gestion de projet'"
      [image]="'assets/icons/projet.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Logistique'"
      [image]="'assets/icons/logistique.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Gestion des actifs'"
      [image]="'assets/icons/actifs.png'"
    ></secteur-item>
    <secteur-item
      [title]="'R&D'"
      [image]="'assets/icons/RD.png'"
    ></secteur-item>
  </div>
</div>

<app-item-button-steps [next]="'/numbers-client'"></app-item-button-steps>
