.pos-card {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.pos {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pos-title {
  padding-bottom: 70px;
}

.pos-card-mobile {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.disabled {
  cursor: none;
  opacity: 0.65;
  pointer-events: none;
}
