.img {
    width: 55px;
}

.pos {
    margin-top: 50px;
    margin-bottom: 90px;
}

.pos-card {
    padding-bottom: 78px;
}

.btn-reset {
    background-color: #fff; 
    color: #4A505B;
    width: 227px;
    height: 69px;
    border-radius: 17px;
    border: 2px #4A505B solid;
  }

  @media only screen and (min-width: 768px) {
    /* Styles pour cette Media Queries */
    .img-size {
        width: 40%;
    }

    .pos-title {
        padding-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* Styles pour cette Media Queries */
    .img-size {
        width: 75%;
    }

    .pos-title {
        padding-bottom: 50px;
        padding-top: 50px;
    }
  }