<div class="container pos">
  <div class="row">
    <div class="col-md-6">
      <button
        class="btn btn-outline-secondary btn-back me-md-2"
        type="button"
        [routerLink]="'/'"
      >
        <!--  <i class="bi bi-chevron-left"></i> -->
        <i class="retour"></i>
        Retour
      </button>
      <button class="btn btn-outline-secondary btn-reset" type="button">
        <!--  <i class="bi bi-arrow-counterclockwise"></i> -->
        <i class="reset"></i>
        Recommencer
      </button>
    </div>
    <div class="col-md-6 ms-auto text-end">
      <button
        class="btn btn-primary me-md-2 btn-next"
        type="button"
        [routerLink]="next"
      >
        Suivant
        <!--  <i class="bi bi-arrow-right"></i> -->
        <i class="suivant"></i>
      </button>
    </div>
  </div>
</div>
