.btn-next{
    background-color: var(--primaryColor);
    color: var(--textOnPrimary);
    font-family: Poppins;
    font-size: 1.313rem;
    width: 214px;
    height: 69px;
    border-radius: 17px;
    border: none;
}

.btn-next:hover {
    background-color: var(--textOnPrimary);
    color: var(--primaryColor);
    border: 1px var(--textOnPrimary) solid;
}

.btn-back{
    color: var(--borderButton);
    font-family: Poppins;
    font-size: 1.125rem;
    width: 175px;
    height: 69px;
    border-radius: 17px;
    border: 2px var(--borderButton) solid;
}

.btn-reset{
    color: var(--borderButton);
    font-family: Poppins;
    font-size: 1.125rem;
    width: 214px;
    height: 69px;
    border-radius: 17px;
    border: 1px var(--borderButton) solid;
}

.btn-back:hover {
    background-color: var(--borderButton);
    color: #fff;
   
}

.btn-reset:hover {
    background-color: var(--borderButton);
    color: #fff;
   
}


.pos {
    padding-bottom: 75px;
}