.btn-next {
  background-color: #0033ff;
  color: #fff;
  font-family: Roboto;
  font-size: 1.313rem;
  width: 151px;
  height: 69px;
  border-radius: 21px;
  border: none;
}

.btn-back {
  background-color: #7c91f1;
  width: 88px;
  height: 69px;
  border-radius: 17px;
  border: 2px #fff solid;
}

.retour {
  background-image: url(../../../assets/icons/retour.png);
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: sub;
}

.btn-reset {
  background-color: #5D70C9; 
  width: 88px;
  height: 69px;
  border-radius: 17px;
  border: 2px #fff solid;
}

.pos {
  padding-bottom: 75px;
}

.suivant {
  background-image: url(../../../assets/icons/ok.png);
  background-size: cover;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: sub;
  margin-left: 15px;
}

.reset {
  background-image: url(../../../assets/icons/recommencer.png);
  background-size: cover;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: sub;
}

.logo {
  width: 115px;  
}
