<div class="container">
  <div class="row pos">
    <app-progress-bar
      [size]="'STEPSIZE.STEP_8' | translate"
      [title]="'STEPS.STEP_8' | translate"
    ></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">{{ "HOSTING.TITLE" | translate }}</h3>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 pos-card"
  >
    <secteur-item
      [title]="'HOSTING.ITEM_1' | translate"
      [image]="'assets/icons/cloud.png'"
      [hostingType]="'A'"
      (sendHostingEvent)="pushClientHosting($event)"
    ></secteur-item>
    <secteur-item
      [title]="'HOSTING.ITEM_2' | translate"
      [image]="'assets/icons/onpremise.png'"
      [hostingType]="'B'"
      (sendHostingEvent)="pushClientHosting($event)"
    ></secteur-item>
    <secteur-item
      [title]="'HOSTING.ITEM_3' | translate"
      [image]="'assets/icons/saas.png'"
      [hostingType]="'C'"
      (sendHostingEvent)="pushClientHosting($event)"
    ></secteur-item>
    <secteur-item
      [title]="'HOSTING.ITEM_4' | translate"
      [image]="'assets/icons/hybride.png'"
      [hostingType]="'D'"
      (sendHostingEvent)="pushClientHosting($event)"
    ></secteur-item>
    <secteur-item
      [title]="'No matter'"
      [hostingType]="'E'"
      (sendHostingEvent)="pushClientHosting($event)"
    ></secteur-item>
  </div>
</div>

<app-item-button-steps
  [previous]="'/numbers-client'"
  [next]="'/dev-client'"
  [solution]="solutionModel"
></app-item-button-steps>
