<div class="container">
  <div class="row pos">
    <app-progress-bar></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">Votre secteur d’activité</h3>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 pos-card"
  >
    <secteur-item
      [title]="'Services'"
      [image]="'assets/icons/services 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Production industrielle'"
      [image]="'assets/icons/production 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Construction'"
      [image]="'assets/icons/construction 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Distribution'"
      [image]="'assets/icons/distribution 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Activités financières'"
      [image]="'assets/icons/finance 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Gouvernement - ONG'"
      [image]="'assets/icons/services 128px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Énergie'"
      [image]="'assets/icons/energie 64px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Transport - Logistique'"
      [image]="'assets/icons/logistique 64px.png'"
    ></secteur-item>
    <secteur-item
      [title]="'Aérospatial - Défense'"
      [image]="'assets/icons/aerospatial 64px.png'"
    ></secteur-item>
  </div>
</div>

<app-item-button-steps></app-item-button-steps>
