<div class="container">
  <div class="row pos">
    <app-progress-bar
      [size]="'STEPSIZE.STEP_11' | translate"
      [title]="'STEPS.STEP_11' | translate"
    ></app-progress-bar>
  </div>
</div>

<div class="container">
  <h3 class="pos-title text-center">
    {{ "DEADLINES.TITLE" | translate }}
  </h3>
  <ng-container
    *ngIf="responsive.deviceType === 'Handset'; then mobile; else web"
  ></ng-container>
  <ng-template #web>
    <div class="pos-item">
      <div>
        <app-item-button
          id="M1"
          [title]="'DEADLINES.ITEM_1' | translate"
          [deadlineType]="'M1'"
          (sendClientDeadlineEvent)="pushClientDeadline($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="M6"
          [title]="'DEADLINES.ITEM_2' | translate"
          [deadlineType]="'M6'"
          (sendClientDeadlineEvent)="pushClientDeadline($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="A1"
          [title]="'DEADLINES.ITEM_3' | translate"
          [deadlineType]="'A1'"
          (sendClientDeadlineEvent)="pushClientDeadline($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
    </div>

    <div class="pos-card">
      <div>
        <app-item-button
          id="A100"
          [title]="'DEADLINES.ITEM_4' | translate"
          [deadlineType]="'A100'"
          (sendClientDeadlineEvent)="pushClientDeadline($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
      <div>
        <app-item-button
          id="any"
          [title]="'DEADLINES.ITEM_5' | translate"
          [deadlineType]="'ANY'"
          (sendClientDeadlineEvent)="pushClientDeadline($event)"
          (sendStatusEvent)="getStatus($event)"
        ></app-item-button>
      </div>
    </div>
  </ng-template>
  <ng-template #mobile>
    <div class="pos-item-mobile">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="M1"
            [title]="'DEADLINES.ITEM_1' | translate"
            [deadlineType]="'M1'"
            (sendClientDeadlineEvent)="pushClientDeadline($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="M6"
            [title]="'DEADLINES.ITEM_2' | translate"
            [deadlineType]="'M6'"
            (sendClientDeadlineEvent)="pushClientDeadline($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="A1"
            [title]="'DEADLINES.ITEM_3' | translate"
            [deadlineType]="'A1'"
            (sendClientDeadlineEvent)="pushClientDeadline($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>

    <div class="pos-card-mobile">
      <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
          <app-item-button
            id="A100"
            [title]="'DEADLINES.ITEM_4' | translate"
            [deadlineType]="'A100'"
            (sendClientDeadlineEvent)="pushClientDeadline($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
        <div class="col-12 mb-4">
          <app-item-button
            id="any"
            [title]="'DEADLINES.ITEM_5' | translate"
            [deadlineType]="'ANY'"
            (sendClientDeadlineEvent)="pushClientDeadline($event)"
            (sendStatusEvent)="getStatus($event)"
          ></app-item-button>
        </div>
      </div>
    </div>
  </ng-template>
  <app-item-button-steps
    [next]="'/reason-client'"
    [solution]="solutionModel"
    [isEmpty]="isEmpty"
  ></app-item-button-steps>
</div>
